@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --text-sm: 1rem;
  --text-md: 2rem;
  --text-lg: 2.5rem;
  --text-elg: 3rem;
  --text-xxl: 3.5rem;
  --border-rad-main: 1.5rem;
  --border-rad: 2rem;
  --primary-color: #00668c;
  /* font-size: 62.5%; */
  font-size: 62.5%;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.7;
  /* background-color: #939393; */
  /* background-color: rgba(255, 46, 46, 0.702); */
}

.container2 {
  display: flex;
  height: 100vh;
  /* border: 2px solid blue; */
  /* width:100vw; */
  padding: 3rem;
  width: 100%;
  /* margin: 20px; */
}

.container2 .left {
  /* border: 2px solid black; */
  border-radius: var(--border-rad-main) 0 0 var(--border-rad-main);
  width: 50%;
  background: url("login.png");
  background-position: center;
  /* background-size: 40rem 40rem; */
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  background-color: #f2faff;
}
.container2 .flash-messages {
  /* border: 2px solid red; */
  /* max-width: 70%; */
  /* width:75%; */
  border-radius: var(--border-rad-main) 0 var(--border-rad-main) 0;
  position: absolute;

  left: 0rem;
  top: 0rem;
  display: flex;
  padding: 1.8rem 2rem;
  /* background-color: #ff282875; */
  background-color: transparent;
  backdrop-filter: blur(10px) brightness(1) contrast(1.2);
  transform: scale(0);
  transition: 200ms ease-in-out;
  animation-name: fmsg;
  animation-duration: 0.6s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.flash-messages .inner {
  font-size: calc(0.1rem + var(--text-md));
  color: red;
  font-weight: bold;
}
@keyframes fmsg {
  0% {
    top: -8rem;
  }
  25% {
    top: -6rem;
  }
  50% {
    top: -4rem;
  }
  75% {
    top: -2rem;
  }
  100% {
    top: 0rem;
  }
}
.flash-messages.active {
  transform: scale(1);
}
.flash-messages .msg {
  font-size: var(--text-md);
}
/* .flash-messages .close-btn{
	font-size:4rem;
	cursor: pointer;
	font-weight: 500;
	color:#ff2828;
	border: 2px solid red;
	position: absolute;
	padding: -1rem 0;
	right:0;
	top:-2rem;

} */
.container2 .right {
  width: 50%;
  /* border:2px solid black; */
  /* border: 4px solid darkturquoise; */
  border-radius: 0 var(--border-rad-main) var(--border-rad-main) 0;
  position: relative;
  background-color: #f2faff;
}
.login-box {
  width: 60%;
  width: 39rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.box {
  /* margin-right: 10rem; */
  background-color: white;
  /* box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.624); */
  /* border:solid 2px rgba(255, 205, 40, 0.671); */
  border-radius: var(--border-rad);
  /* width: 45rem;
	height:40rem; */
  width: 100%;
  height: 37rem;
  border: solid 2px #00668c;
}
.header {
  width: 100%;
  /* border:solid 2px red; */
  display: flex;
}
.header a {
  text-decoration: none;
}
/* .header a:active,
.header a:visited {
  color: white;
} */
.box .btn {
  cursor: pointer;
  width: 50%;
  padding: 0.3em;
  font-size: 1.9em;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  /* border-radius: 0.1em; */
  text-align: center;
  font-size: var(--text-lg);
}
.btn a {
  display: inline-block;
  width: 100%;
}

.btn1 {
  background-color: #00668c;
  border-radius: calc(var(--border-rad) - 0.2rem) 0 0 0;
}
.btn2 {
  background-color: rgba(169, 225, 255, 1);
  border-radius: 0 calc(var(--border-rad) - 0.2rem) 0 0;
}
.btn2 a {
  color: black;
}

.login-details {
  position: absolute;
  left: 5%;
  top: 5%;
  width: 90%;
  height: 25rem;
  /* border: 0.2em solid violet; */
  /* display: flex; */
  position: relative;
}

.ip {
  position: relative;
  margin: 3rem 0rem;
  width: 100%;
  font-size: var(--text-md);
  /* border: 2px solid rebeccapurple; */
  border-bottom: 2px solid #00668c;
}
.ip input {
  width: 100%;
  border: none;
  outline: none;
  margin-bottom: 0.08rem;
  /* border: 2px solid red; */
}
input[type="text"] {
  color: #00668c;
  font-size: var(--text-md);
  letter-spacing: 0.2rem;
  /* position: absolute;
	bottom: ; */
}

input[type="password"] {
  color: #00668c;
  letter-spacing: 0.2rem;
  font-size: var(--text-md);
}
form .password {
  /* border: 2px solid violet; */
  display: flex;
}
form .password i {
  /* border: 2px solid black; */
  font-size: var(--text-lg);
  cursor: pointer;
  margin-right: 0.2rem;
  margin-bottom: 0.2rem;
}

.ip label {
  /* border: 2px solid coral; */
  font-size: var(--text-md);
  position: absolute;
  left: 0px;
  /* left:0.5rem; */
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  transition: 0.5s;
}
.ip input:focus ~ label,
.ip input:valid ~ label {
  top: -0.5rem;
  font-size: var(--text-sm);
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .ip input:focus ~ label,
  .ip input:valid ~ label {
    top: -0.5rem;
    font-size: 1.65rem;
  }
}

form .btns {
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-between;
}
input[type="radio"] {
  --s: 3rem; /* control the size */
  --c: #ff2828; /* the active color */

  height: var(--s);
  aspect-ratio: 1;
  border: calc(var(--s) / 8) solid #939393;
  padding: calc(var(--s) / 8);
  background: radial-gradient(farthest-side, var(--c) 94%, #0000) 50%/0 0
    no-repeat content-box;
  border-radius: 50%;
  outline-offset: calc(var(--s) / 10);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  font-size: inherit;
  transition: 0.3s;
  margin-top: 0.4rem;
}
input[type="radio"]:checked {
  border-color: var(--c);
  background-size: 100% 100%;
}

input[type="radio"]:disabled {
  background: linear-gradient(#939393 0 0) 50%/100% 20% no-repeat content-box;
  opacity: 0.5;
  cursor: not-allowed;
}

@media print {
  input[type="radio"] {
    -webkit-appearance: auto;
    -moz-appearance: auto;
    appearance: auto;
    background: none;
  }
}
.checkbox {
  /* border: 2px solid black; */
  display: flex;
}
.checkbox label {
  margin-left: 0.5rem;
}
.btns label {
  /* margin-left: -1.3rem; */
  font-size: var(--text-md);
}
.forget-password {
  /* border: 2px solid black; */
  padding: 0.5rem;
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
}

.forget-password a {
  color: var(--primary-color);
  font-size: var(--text-md);
  text-decoration: none;
  transition: 0.1s ease-in-out;
}
.forget-password a:hover {
  font-weight: 600;
}
.forget-password a:link,
.forget-password a:visited {
  columns: var(--primary-color);
}

.log-in-btn {
  width: 100%;
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.log-in-btn button {
  width: 15rem;
  height: 40px;
  position: absolute;
  margin-top: -1.5rem;

  border-radius: 40px;
  background: #00668c;
  color: #fff;

  font-size: var(--text-lg);
  font-weight: 400;

  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.log-in-btn button:hover {
  background: transparent;
  letter-spacing: 0.2rem;
  /* font-size: var(--text-elg); */
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

@media (max-width: 839px) {
  .container2 .left {
    width: 0%;
  }
  .container2 .right {
    width: 100%;
    border-radius: var(--border-rad-main) var(--border-rad-main)
      var(--border-rad-main) var(--border-rad-main);
  }
}

@media (max-width: 446px) {
  .login-box {
    width: 35rem;
  }
  .btns label {
    margin-left: 0.2rem;
  }
}

@media (max-width: 396px) {
  .login-box {
    width: 30rem;
  }
  .box {
    height: 48rem;
  }
  .checkbox label {
    margin-left: 1.5rem;
  }
  .checkbox {
    margin-top: 0.4rem;
  }
  form .btns {
    /* border:2px solid black; */
    flex-direction: column;
    justify-content: space-between;
    /* padding-left: 25%; */
    /* align-items: center; */
  }
}
@media (max-width: 360px) {
  .login-box {
    width: 25rem;
  }
}

/* @media (max-width:1282px){
	

} */

/* OTP Styling */

:root {
  --left-per: 60%;
}
.container2 .otp-left {
  /* border: 2px solid black; */
  border-radius: var(--border-rad-main) 0 0 var(--border-rad-main);
  width: var(--left-per);
  background: url("otp.png");
  background-position: right;

  /* background-size: cover; */
  background-size: 70%;
  background-repeat: no-repeat;
  position: relative;
  background-color: #f2faff;
}

.container2 .otp-right {
  width: calc(100% - var(--left-per));
  /* border: 4px solid darkturquoise; */
  border-radius: 0 var(--border-rad-main) var(--border-rad-main) 0;

  background-color: #f2faff;
  position: relative;

  /* border: 2px solid black; */
}
.otp-right .otp-box {
  height: 42rem;
  width: 40rem;

  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);

  background: #fff;

  border-radius: 2.5rem;

  position: relative;

  border: 2px solid var(--primary-color);
}
.otp-box .otp-box-inside {
  height: 95%;
  width: 95%;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  /* position: relative; */
  /* border: 2px solid black; */

  /* padding: 0.5rem; */
}
.otp-box-inside h1 {
  text-align: center;
  font-size: var(--text-xxl);
  margin-top: 2rem;
  letter-spacing: 0.15rem;
  /* border: 2px solid yellowgreen; */
}

.otp-box-inside .otp-2 {
  margin-top: 1.7rem;
  text-align: center;
  font-size: var(--text-md);
  /* border: 2px solid blue; */
}
.otp-box-inside .otp-3 {
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
  /* border: 2px solid darkred; */
}

.otp-3 input {
  height: 4rem;
  width: 4rem;

  display: inline-block;
  margin: 1rem 0rem;
  outline: none;
  border: none;
  border: 1px solid var(--primary-color);

  text-align: center;
}
.otp-3 input:valid {
  background: #f2faff;
  /* border: none; */
}
.otp-box-inside .otp-4 {
  /* border: 2px solid black; */
  margin-top: 0.5rem;
  text-align: center;
  font-size: var(--text-md);
}
.otp-box-inside .timerr {
  /* border: 2px solid red; */
  text-align: center;
}
.otp-box-inside .otp-5 {
  text-align: center;
  margin-top: 0.5rem;
}
.otp-5 button {
  outline: none;
  border: none;
  background: none;
  padding: 0.2rem 0;

  font-size: var(--text-md);
  color: var(--primary-color);
  font-weight: 700;

  cursor: pointer;
}
.otp-5 button:disabled {
  color: #00678c82;
  pointer-events: none;
}
.otp-box-inside .otp-6 {
  /* border: 2px solid black; */
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
.otp-6 button {
  padding: 0.6rem 2rem;
  letter-spacing: 0.1rem;

  border-radius: 3.5rem;
  background: var(--primary-color);
  color: #fff;

  font-size: var(--text-lg);
  font-weight: 400;

  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.otp-6 button:hover {
  background: transparent;
  letter-spacing: 0.3rem;
  /* font-size: var(--text-elg); */
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}
@media (max-width: 1050px) {
  :root {
    --left-per: 50%;
  }
  .container2 .otp-left {
    background-size: 80%;
  }
}
@media (max-width: 849px) {
  :root {
    --left-per: 45%;
  }
  .container2 .otp-left {
    background-size: 100%;
  }
}
@media (max-width: 762px) {
  :root {
    --left-per: 0%;
  }

  .container2 .otp-right {
    border-radius: var(--border-rad-main) var(--border-rad-main)
      var(--border-rad-main) var(--border-rad-main);
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 459px) {
  .container2 .otp-box {
    width: 35rem;
  }
}
@media (max-width: 393px) {
  .container2 .otp-box {
    width: 32rem;
    height: 40rem;
  }
  .otp-box-inside h1 {
    font-size: calc(var(--text-xxl) - 0.3rem);
  }

  .otp-box-inside .otp-2 {
    font-size: calc(var(--text-md) - 0.3rem);
  }
}
@media (max-width: 374px) {
  .container2 .otp-box {
    width: 30rem;
    height: 39rem;
  }
  .otp-box-inside h1 {
    font-size: var(--text-elg);
  }
  .otp-box-inside .otp-2 {
    font-size: var(--text-sm);
  }
}
@media (max-width: 352px) {
  .container2 .otp-box {
    width: 26rem;
    height: 39rem;
  }
  .otp-box-inside h1 {
    font-size: var(--text-lg);
  }
  .otp-box-inside .otp-2 {
    font-size: 0.8rem;
  }
  .otp-6 button {
    font-size: var(--text-md);
  }
  .otp-box-inside .otp-3 {
    justify-content: space-between;
  }
}

/*Confirm Styling */

.c-header {
  cursor: pointer;
  width: 100%;
  padding: 0.3em;
  color: #fff;
  text-align: center;
  font-size: var(--text-elg);
  background-color: #ff2828;
  border-radius: calc(var(--border-rad) - 0.2rem)
    calc(var(--border-rad) - 0.2rem) 0 0;
}

.c-btn {
  /* border: 2px solid seagreen; */
  margin-top: 5rem;
}
.container2 .c-left {
  /* border: 2px solid black; */
  /* border-right: 2px solid var(--primary-color); */
  border-radius: var(--border-rad-main) 0 0 var(--border-rad-main);
  width: 50%;
  background: url("../static/images/fp.png");
  background-size: 78%;
  background-repeat: no-repeat;
  background-position: right;
  background-color: #fdcfcf;
}
.container2 .c-right {
  width: 50%;
  /* border:2px solid black; */
  /* border: 4px solid darkturquoise; */
  border-radius: 0 var(--border-rad-main) var(--border-rad-main) 0;
  /* position: relative; */
  background-color: #fdcfcf;
}
.confirm-box {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid blue; */
}
.c-box {
  background-color: white;
  border-radius: var(--border-rad);
  width: 42rem;
  height: 37rem;
  border: solid 2px var(--primary-color);
}

@media (max-width: 1100px) {
  .container2 .c-left {
    background-size: 90%;
  }
}
@media (max-width: 890px) {
  .container2 .c-left {
    background-size: 100%;
  }
}
@media (max-width: 860px) {
  .container2 .c-left {
    width: 0%;
  }
  .container2 .c-right {
    width: 100%;
    border-radius: var(--border-rad-main) var(--border-rad-main)
      var(--border-rad-main) var(--border-rad-main);
  }
}
@media (max-width: 461px) {
  .c-header {
    font-size: calc(var(--text-lg) + 0.2rem);
  }
  .c-box {
    width: 38rem;
  }
}
@media (max-width: 426px) {
  .c-header {
    font-size: var(--text-lg);
  }
  .c-box {
    width: 34rem;
    height: 36rem;
  }
}
@media (max-width: 390px) {
  .c-header {
    font-size: var(--text-md);
  }
  .c-box {
    width: 30rem;
    height: 34rem;
  }
  .c-btn button {
    font-size: calc(var(--text-lg) - 0.3rem);
    width: 13rem;
    height: 32px;
  }
  .ip label {
    font-size: calc(var(--text-md) - 0.2rem);
  }
}
@media (max-width: 356px) {
  .c-header {
    font-size: calc(var(--text-md) - 0.2rem);
  }
  .c-box {
    width: 25rem;
    height: 34rem;
  }
  .ip label {
    font-size: calc(var(--text-md) - 0.4rem);
  }
  .c-btn button {
    font-size: var(--text-md);
    width: 11rem;
    height: 32px;
  }
}
